extends ../layout

block content
	div.row
		h1= title
		p= descripcion
		form(class='form-horizontal', role='form', action='/tareas/editar/'+tarea._id, method='post')
			div.form-group
				input(name='_method', value='PUT', type='hidden')
				label.control-label.col-md-1 Descripcion
				div.col-md-4
					input(type='text', value=tarea.descripcion,class='form-control',name='descripcion')
				button.btn.btn-primary(type='submit',style='margin-right:10px') Guardar